section#menu-section {
  padding: 0rem 5%;
}

.tabs-container {
  border-radius: 12px;
  padding: 20px;
}

/* Navigation Buttons */
.tab-menu {
  display: flex;
  gap: 5%;
  padding: 10px 20px;
  /* border-radius: 10px; */
  border-bottom: 1px solid var(--text-primary-color);
  position: sticky;
  top: 60px;
  backdrop-filter: blur(100px);
  z-index: 99;
}

.tab-btn {
  background: none;
  border: none;
  color: var(--btn-color);
  cursor: pointer;
  padding: 12px 16px;
  font-size: 1rem;
  transition: 0.3s;
  border-radius: 6px;
}

.tab-btn.active {
  background: var(--text-primary-color);
  color: var(--background-color);
  font-weight: bold;
}

/* Content Panels */
.tab-content {
  display: none;
  animation: fadeIn 0.4s ease;
}
.tab-content.active {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4vw;
  padding: 2rem 0;
}
.dish-card {
  border: 0.2px solid #b58a348b;
  width: 300px;
  max-width: 500px;
  flex-grow: 1;
  padding: 1rem;
  border-radius: 1rem;
}
.dish-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  img {
    scale: 1.1;
    transform: rotate(5deg);
  }
}
.dish-card .img {
  width: 100%;
  height: 250px;
  border-radius: 0.75rem 0.75rem 0 0;
  overflow: hidden;
}
.dish-card .img img {
  width: 100%;
}
.dish-card h3 {
  color: var(--text-primary-color);
  margin-top: 10px;
  font-size: 1.5rem;
}
.dish-card p {
  font-weight: 400;
  margin-top: 10px;
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom .price i,
.bottom .price {
  color: var(--text-primary-color);
  letter-spacing: 1px;
  font-size: 2rem;
  font-family: fantasy;
}
.bottom button {
  color: var(--background-color);
  background: var(--text-primary-color);
  font-size: 1.2rem;
  border: 1px solid var(--text-primary-color);
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.tab-btn {
  position: relative;
}
.tab-btn img {
  position: absolute;
  top: 0px;
  left: 100%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
}

@media (max-width: 750px) {
  section#menu-section {
    padding: 0rem 15%;
  }
  .tab-menu {
    gap: 10%;
    padding: 10px 20px;
    justify-content: space-between;
  }
  .tab-menu button {
    font-size: 1rem;
    padding: 10px 5px;
  }
}
@media (max-width: 550px) {
  section#menu-section {
    padding: 0rem 3%;
  }
  .tabs-container {
    border-radius: 12px;
    padding: 0px;
  }
  .tab-menu button {
    font-size: 0.8rem;
    padding: 10px 5px;
  }
  .tab-content.active {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 0;
  }
  .dish-card {
    width: 100%;
    flex-grow: 0;
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    padding: 0.5rem;
  }
  .dish-card .img {
    width: 150px;
    height: 150px;
    min-width: 100px;
    border-radius: 0.75rem;
    overflow: hidden;
    order: 2;
  }
  .dish-card .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .dish-card .dish-detail,
  .dish-card h3,
  .dish-card p,
  .dish-card .bottom {
    order: 1;
  }
  .dish-card h3 {
    margin-top: 0;
    font-size: 1.2rem;
  }
  .dish-card p {
    font-size: 0.9rem;
    margin-top: 5px;
    line-height: 1.3;
  }
  .bottom {
    margin-top: 0rem;
  }
  .bottom .price {
    font-size: 0.8rem;
  }
  .bottom .price i {
    font-size: 1.2rem;
  }
  .bottom button {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }
}
